# Ignore all font directories except those committed to the repo.
# Fonts like NotoSansCJK are downloaded on demand by generate-sd-fonts.sh.
*
!.gitignore
!NotoSerif/
!NotoSerif/**
!NotoSans/
!NotoSans/**
!OpenDyslexic/
!OpenDyslexic/**
!Ubuntu/
!Ubuntu/**
